@model IEnumerable<AKSoft.Models.SupplierAccountModel>
@{
    ViewBag.Title = "كشف حساب مورد";
}
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 2)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 3)
{
    Layout = "~/Views/Shared/_LayPurMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    Layout = "~/Views/Shared/_LayPurAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 5)
{
    Layout = "~/Views/Shared/_LaySaMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 6)
{
    Layout = "~/Views/Shared/_LaySaAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 7)
{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
}
}
<h2>كشف حساب مورد</h2>
<a href="@Url.Action("SaveSupplier", "Supplier")">تعريف مورد</a>
<table class="table table-bordered table-striped">
    <tr>
        <th>الكود</th>
        <th>إسم المورد</th>
        @*<th>مدين</th>
        <th>دائن</th>*@
        <th>إجمالي المشتريات</th>
    </tr>

   @foreach (var i in Model)
   {
    <tr>
        <td>@i.SupplierCode</td>
        <td>@i.SupplierName</td>
        <td>@i.Total</td>
    </tr>
   }
</table>


